// ||COLOR VARIABLES||
// primary colors
$color-dark-blue: hsl(233, 47%, 7%);
$color-light-blue: hsl(244, 38%, 16%);
$color-soft-violet: #aa5cdb;
// neutral colors
$color-white-main-head: #ffffff;
$color-white-transparent-body: hsla(0, 0%, 100%, 0.75);
$color-white-transparent-stat-heading: hsla(0, 0%, 100%, 0.6);

// ||FONT VARIABLES||
$font-heading: "Inter", sans-serif;
$font-body: "Lexend Deca", sans-serif;

// || BASE STYLES||
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: $font-heading;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: $color-dark-blue;
  color: $color-white-transparent-body;
  line-height: 1.6;
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 3rem 8rem;
}
.container {
  display: grid;
  grid-template-columns: minmax(31rem, 35rem);
  background-color: $color-light-blue;
  border-radius: 10px;
  &__img {
    background-color: $color-soft-violet;
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    mix-blend-mode: multiply;
    opacity: .8;
  }
  &__body {
    padding: 3rem;
    display: grid;
    gap: 3rem;
    justify-items: center;
    text-align: center;
  }
  &__text {
    font-weight: 300;
  }
  .heading--1 {
    font-family: $font-heading;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    color: $color-white-main-head;

    span {
      color: $color-soft-violet;
    }
  }
  &__stats {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;

    h2 {
      font-size: 2rem;
      color: $color-white-main-head;
    }
    p {
      color: $color-white-transparent-body;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}

@media only screen and(min-width:900px) {
  body {
    padding: 5rem 8.5rem;
  }
  .container {
    grid-template-columns: minmax(min-content, 53rem) minmax(40rem, 52rem);
    &__img {
      width: 100%;
      order: 2;
      border-radius: 0 10px 10px 0;
      img {
        object-fit: cover;
      }
    }
    &__body {
      padding: 7rem 7.5rem;
      order: 1;
      text-align: left;
      align-content: center;
      align-items: center;
      justify-items: flex-start;
    }
    &__stats {
      grid-template-columns: repeat(3, min-content);
      gap: 8rem;
      align-items: center;
      justify-self: flex-start;
    }
  }
}
